<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품리스트</title>
    <link href="/main.css" rel="stylesheet">
</head>


<body class="card" th:each="i : ${items}">
    <div>
        <img src="https://placehold.co/300">
        <div>
        <h4 th:text="${i.title}">상품제목</h4>
        <p th:text="${i.price}">상품가격</p>
        </div>
    </div>


    <form action="/writePost" method="get">
        <div>
            <h4 th:text="${inputName}"></h4>
            <p th:text="${inputPrice}"></p>
        </div>
    </form>



</body>
</html>